.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-right {
    text-align: right;
}

.mt-8 {
    margin-top: 24px;
    /* Increased margin */
}

.ml-12 {
    margin-left: 36px;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    /* Lighter track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    /* Medium gray thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
    /* Darker hover thumb */
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#ffffff 0 0);
    background: var(--c) 0% 50%,
        var(--c) 50% 50%,
        var(--c) 100% 50%;
    /* background-size: 20% 100%; */
    animation: l1 1s infinite linear;
}

@keyframes l1 {
    0% {
        background-size: 20% 100%, 20% 100%, 20% 100%
    }

    33% {
        background-size: 20% 10%, 20% 100%, 20% 100%
    }

    50% {
        background-size: 20% 100%, 20% 10%, 20% 100%
    }

    66% {
        background-size: 20% 100%, 20% 100%, 20% 10%
    }

    100% {
        background-size: 20% 100%, 20% 100%, 20% 100%
    }
}